<button type="button" class="btn btn-primary  add-new-person" data-toggle="modal" data-target="#addNewPerson"> + </button>
<div class="modal fade" id="addNewPerson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">New Person</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="addPeopleForm" name='addPeopleForm' #addPeopleForm="ngForm" (ngSubmit)="onSubmit()">
				<div class="modal-body">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="" required [(ngModel)]="model.name"> </div>
					<div class="form-group">
						<label for="mobile">Mobile Number</label>
						<input type="text" class="form-control" id="mobile" name='mobile' required [(ngModel)]="model.mobile" /> </div>
					<div class="form-group">
						<label for="date">Starting Date</label>
						<input type="date" class="form-control" id="date" name='date' required [(ngModel)]="model.date" /> </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" [disabled]="!addPeopleForm.form.valid">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
